@import "tailwindcss";

@media print {
  header,
  footer,
  button,
  .no-print {
    display: none !important;
  }

  body {
    background-color: white !important;
    color: black !important;
    padding: 0 !important;
  }

  table {
    font-size: 8pt !important;
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  td, th {
    padding: 2px !important;
  }
}
